.scene {
    width: 200px;
    height: 200px;
    border: 1px solid #CCC;
    margin: 80px;
    perspective: 400px;
  }
  
  .cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s;
  }
  
  .cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
  .cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
  .cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
  .cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
  .cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
  .cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }
  
  .cube__face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  
//   .cube__face--front  { background-color: #E57283; }
//   .cube__face--right  { background-color: #2F5061; }
//   .cube__face--back   { background-color: #E57283; }
//   .cube__face--left   { background-color: #2F5061; }
//   .cube__face--top    { background-color: #4297A0; }
//   .cube__face--bottom { background-color: #4297A0; }

  ._front_bssuh_32 { background-color: rgba(229, 114, 131,1); }
  ._right_bssuh_35 { background-color: rgba(66, 151, 160, 1); }
  ._back_bssuh_38  { background-color: rgba(229, 114, 131,1); }
  ._left_bssuh_41   { background-color: rgba(66, 151, 160, 1); }
  ._top_bssuh_44    { background-color: rgba(244, 234, 230,1); }
  ._bottom_bssuh_47 { background-color: rgba(244, 234, 230,1); }
  
  .cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
  .cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
  .cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
  .cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
  .cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
  .cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }