@use 'variables';
@use 'mixins';

.hero{
	@include mixins.default-grid;
	padding: 2.5rem 0 4rem;
	margin-top: 1rem;
	color: var(--dark-color);
}

.palette{
	place-self: center center;
	display: flex;
	text-align: center;
	background-color: var(--background-color);
	font-size: 1.05rem;

	&__item{
		display: flex;
		flex-direction: column;
	}

	&__color{
		width: 4rem;
		height: 10rem;
		margin: 0.25rem 0.5rem;
		border-radius: 0.7rem;
		box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);

		@include mixins.landscape{
			width: 6rem;
			height: 13.5rem;
			margin: 0.75rem 0.6rem;
		}
	}


}