:root {
	--light-color: #189AB4;
	--dark-color: #05445E;
	--background-color: whitesmoke;
	--heading-font: 'Audiowide', cursive;
	--text-font: 'Mukta Vaani', sans-serif;
	--text-transform: 'capitalize';
	--menu-font-size: 1.1rem;
	--heading-font-small: 2rem;
	--heading-font-big: 2.75rem;
	--bar-spacing-mobile: 1.55rem;
	--bar-spacing-desktop: 1.3rem;
	--menu-font-mobile: 1.25rem;
}