/* 
==============================================
CONTENT:	Colors, Fonts, Logos
AUTHOR:		Eric Canosa
==============================================

TABLE OF CONTENTS:

0. Initialization
1. Partials
2. Fonts
3. General
4. Utility

==============================================
*/

/* 0. Initialization ========================= */
@use 'reset';
@use 'variables';
@use 'mixins';

/* 1. Partials =============================== */
@use 'header';
@use 'hero';
@use 'about';
@use 'footer';
@use 'logos';
@use 'cube';


/* 2. Fonts ================================== */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* 3. General ================================ */

*, *::before, *::after {
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

body{
	background: var(--background-color);
	font-family: var(--text-font);
}

#root{
	@include mixins.default-grid;
}

main{
	@include mixins.default-grid;
}

/* 4. Utility ================================ */

.retro-punch{
    &__color{
        &_cyan{
            color: #2FF3E0;
        }
        &_gold{
            color: #F8D210;
        }
        &_pink{
            color: #FA26A0;
        }
        &_red{
            color: #F51720;
        }
    }
    &__background{
        &_cyan{
            background-color: #2FF3E0;
        }
        &_gold{
            background-color: #F8D210;
        }
        &_pink{
            background-color: #FA26A0;
        }
        &_red{
            background-color: #F51720;
        }
    }
}

.super-chill{
    &__color{
        &_midnight-blue{
            color: #41729F;
        }
        &_blue-gray{
            // light
            color: #5885AF;
        }
        &_dark-blue{
            // dark
            color: #274472;
        }
        &_baby-blue{
            color: #C3E0E5;
        }
    }
    &__background{
        &_midnight-blue{
            background-color: #41729F;
        }
        &_blue-gray{
            // light
            background-color: #5885AF;
        }
        &_dark-blue{
            // dark
            background-color: #274472;
        }
        &_baby-blue{
            background-color: #C3E0E5;
        }
    }
}

.bold-geometry{
    &__color{
        &_light-blue{
            color: #0D698B;
        }
        &_ivory{
            color: #F2F1E8;
        }
        &_dark-blue{
            color: #050533;
        }
        &_red{
            color: #E34234;
        }
    }
    &__background{
        &_light-blue{
            background-color: #0D698B;
        }
        &_ivory{
            background-color: #F2F1E8;
        }
        &_dark-blue{
            background-color: #050533;
        }
        &_red{
            background-color: #E34234;
        }
    }
}

.teenage-pop{
    &__color{
        &_aqua{
            color: #71E7E0;
        }
        &_pink{
            color: #FF8BDA;
        }
        &_blue{
            color: #43A9DD;
        }
        &_fuchsia{
            color: #F12E90;
        }
    }
    &__background{
        &_aqua{
            background-color: #71E7E0;
        }
        &_pink{
            background-color: #FF8BDA;
        }
        &_blue{
            background-color: #43A9DD;
        }
        &_fuchsia{
            background-color: #F12E90;
        }
    }
}

.cyberpunk{
    &__color{
        &_coral{
            color: #E57F84;
        }
        &_teal{
            color: #4297A0;
        }
        &_blue{
            color: #2F5061;
        }
        &_ivory{
            color: #F4EAE6;
        }
    }
    &__background{
        &_coral{
            background-color: #E57F84;
        }
        &_teal{
            background-color: #4297A0;
        }
        &_blue{
            background-color: #2F5061;
        }
        &_ivory{
            background-color: #F4EAE6;
        }
    }
}

.tech-boy{
    &__color{
        &_navy-blue{
            color: #05445E;
        }
        &_blue-grotto{
            color: #189AB4;
        }
        &_blue-green{
            color: #75E6DA;
        }
        &_baby-blue{
            color: #D4F1F4;
        }
    }
    &__background{
        &_navy-blue{
            background-color: #05445E;
        }
        &_blue-grotto{
            background-color: #189AB4;
        }
        &_blue-green{
            background-color: #75E6DA;
        }
        &_baby-blue{
            background-color: #D4F1F4;
        }
    }
}

.hidden{
	display: none;
}

.invisible{
	visibility: hidden;
}

.transparent{
	opacity: 0;
}

.dimmer{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 0vh;
	background-color: whitesmoke;
	opacity: 0.5;
	left: 0;
	top: 0;
	transition: .3s background-color ease-in;

	&_open{
		height: 100vh;
		background-color: black;
	}
}

.send-to-rear{
	z-index: -99;
}

.bring-to-front{
	z-index: 99;
}